$primary-color: #FFB703;
$background-color: #111111; 
$background-secondary-color: #282828;
$card-radius: 10px;

.card{
    padding: 1.5vw;
    border-radius: $card-radius;
    background-color: $background-secondary-color;
    color: white;
    width: min-content;
    margin-top: 20px;
    margin-right: 8px;
    position: relative;
    border: none;
    display: flex;

    h2{
        width: 95%;
        font-size: 13px;
        margin-bottom: 5vw;
    }

    p{
        font-size: 10px;
        position: absolute;
        left: 0;
        right: 0;
        bottom: 0;
        margin: auto;
        background-color: $primary-color;
        padding: 3px 0;
        border-bottom-left-radius: $card-radius;
        border-bottom-right-radius: $card-radius;
    }

    .image{
        height: 40vw;
        width: 26vw;
        background-size: 100% 100%;
        background-repeat: no-repeat;
        border-radius: $card-radius;
    }
}

@media (min-width: 1000px){
    .card{
        cursor: pointer;
        padding: 10px;
    
        h2{
            width: 95%;
            font-size: 15px;
            margin-bottom: 20px;
        }
    
        p{
            font-size: 12px;
            border-bottom-left-radius: $card-radius;
            border-bottom-right-radius: $card-radius;
        }
    
        .image{
            height: 200px;
            width: 120px;
        }
    }
}

@media (min-width: 700px){
    .card{
        cursor: pointer;
        padding: 10px;
    
        h2{
            width: 95%;
            font-size: 15px;
            margin-bottom: 20px;
        }
    
        p{
            font-size: 12px;
            border-bottom-left-radius: $card-radius;
            border-bottom-right-radius: $card-radius;
        }
    
        .image{
            height: 200px;
            width: 120px;
        }
    }
}