$primary-color: #FFB703;
$background-color: #111111; 
$background-secondary-color: #282828;

html{
    height: 100%;
}

.login-container{
    overflow: hidden;
    background-color: $primary-color;
    display: flex;
    flex-direction: column;
    align-items: center;
    color: $background-color;
    justify-content: center;
    height: 100vh;

    h2{
        font-size: 11vw;
    }

    .input-container{
        display: flex;
        flex-direction: column;
        align-items: left;
        width: 80%;
        position: relative;

        input{
            width: 100%;
            outline: none;
            height: 25px;
            background-color: transparent;
            border: none;
            border-bottom: 2px solid $background-color;
            font-size: 20px;
            margin-top: 15%;
            border-radius: 0;
        }

        label{
            font-size: 20px;
            position: absolute;
            bottom: 10px;
            pointer-events: none;
            transition: 0.2s;
            font-weight: bold;
        }

        input:focus + label, input:valid + label{
            transform: translateY(-30px);
        }
    }

    .forget-password{
        background-color: transparent;
        border: none;
        text-decoration: underline;
        font-weight: bold;
        margin-top: 10%;
        color: $background-color;
    }

    .forget-password:active{
        color: #282828;
    }

    .login-btn{
        background-color: $background-color;
        color: white;
        border: none;
        border-radius: 100px;
        margin-top: 15%;
        font-size: 20px;
        padding: 15px 35%;
        font-weight: bold;
        position: relative;
    }

    .login-btn:active{
        background-color:rgba(34, 34, 34, 0.814);
    }

    .create-account{
        background-color: transparent;
        border: 1px solid $background-color;
        border-radius: 100px;
        position: absolute;
        bottom: 30px;
        font-weight: bold;
        padding: 5px 9px;
        color: $background-color;
    }

    .create-account:active{
        color: rgba(34, 34, 34, 0.814);
        border: 1px solid rgba(34, 34, 34, 0.814);
    }

    .button-container{
        height: 45vw;
        width: 100%;
        display: flex;
        position: relative;
        align-items: center;
        flex-direction: column;
        justify-content: start;
        text-align: center;

        #warning{
            font-size: 18px;
            margin-top: 20px;
        }
    }

}

@media(min-width: 1000px){
    .login-container{
    
        h2{
            font-size: 40px;
            margin-top: 60px;
        }
    
        .input-container{
            width: 40%;
    
            input{
                margin-top: 60px;
            }
        }
    
        .forget-password{
            margin-top: 40px;
            cursor: pointer;
        }
    
        .forget-password:active{
            color: #282828;
        }
    
        .login-btn{
            margin-top: 50px;
            cursor: pointer;
        }

    
        .create-account{
            cursor: pointer;
        }
    
        .button-container{
            width: 50%;
        }
    
    }
}